[submodule "themes/rusty-typewriter"]
	path = themes/rusty-typewriter
	url = https://github.com/math-queiroz/rusty-typewriter
[submodule "themes/hugo-admonitions"]
	path = themes/hugo-admonitions
	url = https://github.com/KKKZOZ/hugo-admonitions
