[submodule "themes/rusty-typewriter"]
	path = themes/rusty-typewriter
	url = https://github.com/taichimaeda/rusty-typewriter
[submodule "themes/hugo-embed-pdf-shortcode"]
	path = themes/hugo-embed-pdf-shortcode
	url = https://github.com/anvithks/hugo-embed-pdf-shortcode.git
