:root[color-scheme^='light'] {
  --primary-color: #5b94cd !important;
  --selection-color: #9cbddd !important;
  
  --body-text-color: #000 !important;
  --body-background-color: #fff !important;
  --dim-color: #88888822 !important;
}

:root[color-scheme^='dark'] {
  --primary-color: #5b94cd !important;
  --selection-color: #9cbddd !important;
}

#main-content p {
  font-weight: 400;
}

.social-icons {
  display: flex;
  padding: 0;
  margin: 1em 0;
  list-style: none;
  gap: 0.75em;
}
